.footer-page {
    margin: 24px;
    min-height: 90vh;
}

.accordion {
    margin: 24px 0;
}

.accordion-header .accordion-button{
 font-weight: bold;
}

.accordion-button,
.accordion-button:not(.collapsed),
.accordion-button:focus {
    background-color: #FDFDFD !important;
    color: #1E1E1E !important;
    box-shadow: none !important;
}